.mathFormulaEditor {
    display: grid;

    .nodes {
        grid-column: 1;
        overflow: auto;
        height: 25vh;
        min-height: 200px;
    }

    .operations {
        grid-column: 1;
    }

    .formula {
        grid-column: 2;
        grid-row: 1/3;
        background: red;
        display: flex;
        min-height: 1em;
        margin: 2em;
        position: relative;
        overflow: auto;
    }

    .node {
        background: green;
        margin: 0.25em;
        padding: 0.25em;
        border-radius: 0.25em;
        color: #fff;
    }

    .operation {
        background: blue;
        margin: 0.25em;
        padding: 0.25em;
        border-radius: 0.25em;
        color: #fff;
        &.group{
            display: flex;
        }
        &.divide{
            display: flex;
            flex-direction: column;
        }
    }

    .placeholder {
        background: yellow;
        margin: 0 -0.5em;
        padding: 0;
        width: 1em;
        border-radius: 0.25em;
        color: #000;
        height: 2em;
    }
    sub-formula {
        background: pink;
        margin: 0.25em;
        padding: 0.25em;
        border-radius: 0.25em;
        color: #fff;
        display: flex;
        position: relative;
        min-width: 3em;
        align-items: center;
    }
}
